<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Akshar&family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>


<body>
 <div class="main-content">
        {{>header}}
        <p>This site uses data from openweathermap.org.</p>
        <img class="portrait" src="/img/sun.png">
    </div>

    {{>footer}}
</body>


</html>